@charset "UTF-8";
body{
    background-color: rgb(217, 217, 190);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(228, 100, 31);
}
h2{
    color: rgb(209, 99, 39);
}
h1#principal{
    background-color: rgb(209, 99, 39);;
    color: rgb(255, 255, 255);
    text-align: center;
}
.basico{
    color: #3c805e;
}
.intermediario{
    color: #74803c;
}
.avancado{
    color: #803c3c;
}